/* drag and drop */

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  background-color: #27A0A0;
  padding: 15px;
}

.city {
  padding: 15px 25px;
  background-color: aliceblue;
  cursor: pointer;
  margin-bottom: 15px;
}